<h1>NgModel</h1>
<p>Nombre: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<p>Age: {{ person.age }}</p>
<input
  min="1"
  max="92"
  required
  type="number"
  #ageInput="ngModel"
  [(ngModel)]="person.age"
/>
<p>Valid: {{ ageInput.valid }}</p>
<hr />
<h1>Eventos</h1>
<button type="button" [disabled]="isButtonDisable">Enviar</button>
<button type="button" (click)="toggleButton()">Toggle Button</button>
<p>Edad: {{ person.age }}</p>
<button type="button" (click)="increaseAge()">Age++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam quisquam
    consequuntur omnis? Mollitia nam illum voluptate autem cupiditate maxime!
    Nostrum, atque! Amet adipisci cumque recusandae, facilis ullam sunt itaque
    facere, nulla vitae nisi maxime libero! Consectetur repellendus deserunt
    minus inventore soluta! Facere alias aperiam quidem. Quisquam quaerat ut
    nobis provident sit saepe quis deserunt, corrupti neque odio magnam fugiat
    est quae quidem asperiores pariatur labore eum voluptate cupiditate!
    Dignissimos beatae nihil facilis accusamus placeat commodi vero laborum
    nobis? Ea fugiat necessitatibus neque illum perspiciatis officiis et nemo,
    quisquam dolores dolorem ut a nisi, voluptatum nobis qui facilis, sunt illo
    saepe.
  </p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<p>Nombre: {{ person.name }}</p>
<hr />
<h1>Propiedades</h1>
<button type="button" [disabled]="isButtonDisable">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="imagen" width="200" />
<hr />
<h1>Hola Mundo!!</h1>
<h2>{{ "Hola Mundo!!".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola👋, soy {{ name }} y tengo {{ age }}</h3>
<img src="{{ image }}" alt="imagen" width="300" />
